@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.Toastify__toast-container {
  width: auto !important;
}

.Toastify__toast {
  white-space: pre-wrap;
  word-break: break-word;
}
